<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>


   <div class="container">
      <table class="table table-striped">
          <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>BIRTHDATE</th>
                <th>SEEK</th>
                <th>SCORE</th>
          </thead>
          <tbody>
            <tr th:each="patient: ${patients}">
                <td th:text="${patient.id}"/>
                <td th:text="${patient.name}"/>
                <td th:text="${patient.birthDate}"/>
                <td th:text="${patient.isSeek ? 'seek' : 'not seek'}"/>
                <td th:text="${patient.score}"/>
            </tr>
          </tbody>
      </table>
   </div>

</body>
</html>